.wbox-grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto; 
    column-gap: 10px;
}

.wbox {
    border-color: orange;
    border-radius: 10px;
    background-color: rgba(211, 211, 211, 0.397);
    border-style: solid;
    border-width: 3px;
    width: 100px;
}

#title-header {
    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    border-width: 3px;
    padding: 15px;
    width: 120px;
}

.header-grid {
    display: grid;
    grid-template-columns: auto auto;
}

#search-form {
    padding: 15px;
}
#main {
    width: 1000px;
    margin: 0 auto;
}

body {
    text-align: center;
}