body {
    background: rgb(25, 25, 32);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    color: black;
    border-radius: 15px;
    background-color: rgb(240, 240, 240);
    margin: 10px auto;
    width: 80%;
}

.wbox {
    margin: auto;
}

.container {
    display: grid;
    margin: auto;
    grid-template-columns: auto auto;
    width: 40vw;
}

#headercs {
    text-align: left;
    font-size: 25px;
    padding-right: auto; 
}

#wmain {
    text-align: right;
    font-size: 25px;
}

#wdesc {
    text-align: right;
}

#search-form {
    margin: auto;
}

#location-search-box {
    width: 35vw;
    height: 30px;
    text-align: center;
    border: none;
}

#search-button {
    background-color: rgb(43, 152, 255);
    color: white;
    border: none;
    padding: 8px 40px;
    display: inline;
    transition-duration: 0.4s;
}

#search-button:hover {
    background-color: rgb(26, 96, 161);
}


#main {
    max-width: 960px;
    margin: auto;
}

header {
    position: relative;
    background: rgb(255, 123, 0);
    color: white;
    font-size: 30px;
    padding: 20px 0;
    z-index: 101;
}

.title-area {
    max-width: 960px;
    margin: auto;
}

#title-header {
    font-size: 50px;
}

#cover {
    position: fixed;
    background-color: rgb(255, 123, 0);
    width: 100vw;
    height: 100vh;
    top: 0px;
    z-index: 99;
    transition: transform 3s;
    transition-timing-function: ease;
}

#map {
    max-width: 960px;
    width: 80%;
    height: 400px;
    margin: auto auto 30px auto;
    background: gray;
}

#getlocation {
    background-color: rgb(43, 152, 255);
    color: white;
    border: none;
    padding: 8px 40px;
    font-size: 20px;
    transition-duration: 0.4s;
    display: inline;
}

#getlocation:hover {
    background-color: rgb(26, 96, 161);
}

#coverContent {
    width: 100%;
    top: 200px;
    position: absolute;
}